<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title matTooltip={{order.customerName}}>
                {{order.customerName | shorten: 5}}
                <!-- {{'order'}} -->
            </mat-panel-title>
            <mat-panel-description>
                {{order.noOfItems}} Items
            </mat-panel-description>
            <mat-panel-description>
                Bill Total: {{order.price* order.noOfItems}}
            </mat-panel-description>
            <mat-panel-description>
                {{order.orderStatus}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <button id="btn-view-details" mat-stroked-button color="primary">View Details</button>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Change Order Status</mat-label>
            <mat-select>
                <mat-option *ngFor="let state of orderStatus$ | async" [value]="state">
                    {{state}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-expansion-panel>
</mat-accordion>