<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title matTooltip={{order.customerName}}>
                {{order.customerName | shorten: 5}}
            </mat-panel-title>
            <mat-panel-description>
                {{order.itemName}}
            </mat-panel-description>
            <mat-panel-description>
                {{order.noOfItems}} Items
            </mat-panel-description>
            <mat-panel-description>
                ₹{{order.price}}
            </mat-panel-description>
            <mat-panel-description>
                Bill Total: {{order.price* order.noOfItems}}
            </mat-panel-description>
            <mat-panel-description>
                {{order.orderStatus}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p> {{order.deliveryAddress}} </p>
    </mat-expansion-panel>
</mat-accordion>