<nav mat-tab-nav-bar class="tab-group">
    <a mat-tab-link routerLink="/layout/manage-orders/all-orders" routerLinkActive="router-link-active"
        class="tab-label">All orders </a>
    <a mat-tab-link routerLink="/layout/manage-orders/order-received" routerLinkActive="router-link-active"
        class="tab-label">Order received</a>
    <a mat-tab-link routerLink="/layout/manage-orders/order-preparing" routerLinkActive="router-link-active"
        class="tab-label">Order preparing</a>
    <a mat-tab-link routerLink="/layout/manage-orders/order-ready-to-serve" routerLinkActive="router-link-active"
        class="tab-label">Order ready to serve</a>
</nav>

<div class="order-section">
    <router-outlet></router-outlet>
</div>