<nav mat-tab-nav-bar class="tab-group">
    <a mat-tab-link routerLink="/layout/manage-orders/order-received" routerLinkActive="router-link-active"
        class="tab-label">Order Received</a>

    <a mat-tab-link routerLink="/layout/manage-orders/order-preparing" routerLinkActive="router-link-active" class="tab-label">Order Preparing</a>

    <a mat-tab-link routerLink="/layout/manage-orders/order-reday-to-serve" routerLinkActive="router-link-active" class="tab-label">Order Ready to serve</a>

</nav>

<div class="order-section">
<router-outlet></router-outlet>
</div>