.tab-group {
    padding-bottom: 10px;
  }
  
  .router-link-active {
    color: #1a589b;
    border-bottom: 2px solid blue;
  }
  
  ::ng-deep mat-tab-nav-bar,
  .mat-tab-header {
    border-bottom: none;
  }
  
  ::ng-deep .mat-tab-label,
  .tab-label {
    opacity: 5 !important;
  }

  .order-section{
    margin-top: 20px;
  }
  