
<p-orderList [value]="orders" [listStyle]="{'height':'auto'}" header="List of Order Received" controlsPosition="right"
    filterBy="itemName,customerName,price,orderStatus,noOfItems" filterPlaceholder="Filter orders" dragdrop="true">
    <ng-template let-order pTemplate="item">
        <div class="order-item">
            <div class="image-container">
                <img src="assets/{{order.image}}" [alt]="order.itemName" class="product-image" />
            </div>
            <div class="order-list-detail">
                <h5 class="p-mb-2">{{order.itemName}}</h5>
                <i class="pi pi-user order-customerName-icon"></i>
                <span class="order-customerName">{{order.customerName}}</span>
            </div>
            <div class="order-list-detail">
                <h5 class="p-mb-2">{{order.noOfItems}} Items</h5>
                <span class="order-customerName">Bill Total: ₹{{order.price* order.noOfItems}}</span>
            </div>
            <div class="order-list-detail">
                <button pButton pRipple type="button" pTooltip="View Details"
                    [routerLink]="['/layout/manage-orders/', order.id]" icon="pi pi-info"
                    class="p-button-rounded"></button>
            </div>
            <div class="order-list-action">
                <h6 class="p-mb-2">₹{{order.price}}</h6>
                <span>{{order.orderStatus | uppercase}}</span>
            </div>
        </div>
    </ng-template>
</p-orderList>